@import url("https://static.toss.im/tps/main.css");
@import url("https://static.toss.im/tps/others.css");

* {
  font-family: "Toss Product Sans";
}

.app {
  min-height: 100vh;
}

.content-with-navbar {
  padding-top: 60px; /* navbar 높이만큼 상단 패딩 */
  min-height: calc(100vh - 60px); /* navbar 높이를 제외한 전체 높이 */
}
